body {
  background-color: #4A4063;
}

a {
  color: #4A4063;
}

.users-list {
  padding-left: 0;
  margin-top: 5px;
}

#users-list li {
  background-color: #FAF9FB;
}

.well {
  margin-top: 20px;
  background-color: #C8C6D7;
}

.well h1 {
  margin-top: 5px;
  padding-bottom: 10px;
  color: #4A4063;
}

.avatar {
  float: left;
  height: 64px;
  width: 64px;
}

.channel-info {
  margin-top: 0;
  padding-left: 15px;
  display: inline-block;
}

.channel-name {
  margin: 0;
  padding-top: 5px;
}

.channel-desc {
  margin: 0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  color: #FAF9FB;
  background-color: #4A4063;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #FAF9FB;
  color: #4A4063;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #FFFFFF;
}
